In [1]:
import pandas as pd
import numpy as np

In [2]:
path="C:\\Users\\Lavanya\\Desktop\\Sol-Pred\\DATA\\SolarPrediction.csv"
df1=pd.read_csv(path,encoding="latin-1").copy()

In [3]:
df1.isnull().sum()

UNIXTime                  0
Data                      0
Time                      0
Radiation                 0
Temperature               0
Pressure                  0
Humidity                  0
WindDirection(Degrees)    0
Speed                     0
TimeSunRise               0
TimeSunSet                0
dtype: int64

In [4]:
df1

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00
...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,12/1/2016 12:00:00 AM,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00
32682,1480587301,12/1/2016 12:00:00 AM,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00
32683,1480587001,12/1/2016 12:00:00 AM,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00
32684,1480586702,12/1/2016 12:00:00 AM,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00
32685,1480586402,12/1/2016 12:00:00 AM,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00

In [5]:
df1.rename(columns={'Data' : 'date'} , inplace=True)

In [6]:
df1.columns

Index(['UNIXTime', 'date', 'Time', 'Radiation', 'Temperature', 'Pressure',
       'Humidity', 'WindDirection(Degrees)', 'Speed', 'TimeSunRise',
       'TimeSunSet'],
      dtype='object')

In [7]:
import pandas as pd

df1['date'] = pd.to_datetime(df1['date'])

C:\Users\Lavanya\AppData\Local\Temp\ipykernel_8616\1909529788.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['date'] = pd.to_datetime(df1['date'])

In [8]:
df1['date'] = df1['date'].dt.date

In [9]:
df1['date'] = pd.to_datetime(
    df1['date'],
    format='%m/%d/%Y %I:%M:%S %p',
    errors='coerce'
)

In [10]:
df1['date'] = df1['date'].dt.strftime('%d-%m-%Y')

In [11]:
df1['date'].head()

0    29-09-2016
1    29-09-2016
2    29-09-2016
3    29-09-2016
4    29-09-2016
Name: date, dtype: object

In [12]:
print(df1['date'].dtype)

object

In [13]:
df1['date'].head(10)
df1['date'].apply(type).value_counts()

date
<class 'str'>    32686
Name: count, dtype: int64

In [14]:
df1['date'] = df1['date'].astype(str).str.strip()

In [15]:
df1['date'] = pd.to_datetime(df1['date'], errors='coerce')

C:\Users\Lavanya\AppData\Local\Temp\ipykernel_8616\4096521873.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df1['date'] = pd.to_datetime(df1['date'], errors='coerce')

In [16]:
df1['date'].dtype

dtype('<M8[ns]')

**<M8[ns] is NumPyâ€™s way of sayingðŸ‘‰ datetime64[ns]**

In [17]:
df1['year'] = df1['date'].dt.year
df1['month'] = df1['date'].dt.month
df1['day'] = df1['date'].dt.day

In [18]:
df1.head()

,UNIXTime,date,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet,year,month,day
0,1475229326,2016-09-29,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00,2016,9,29
1,1475229023,2016-09-29,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00,2016,9,29
2,1475228726,2016-09-29,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00,2016,9,29
3,1475228421,2016-09-29,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00,2016,9,29
4,1475228124,2016-09-29,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00,2016,9,29

In [19]:
df1.columns

Index(['UNIXTime', 'date', 'Time', 'Radiation', 'Temperature', 'Pressure',
       'Humidity', 'WindDirection(Degrees)', 'Speed', 'TimeSunRise',
       'TimeSunSet', 'year', 'month', 'day'],
      dtype='object')

In [20]:
df1.rename(columns={'Time' : 'time'} , inplace=True)

In [21]:
print(df1.dtypes)

UNIXTime                           int64
date                      datetime64[ns]
time                              object
Radiation                        float64
Temperature                        int64
Pressure                         float64
Humidity                           int64
WindDirection(Degrees)           float64
Speed                            float64
TimeSunRise                       object
TimeSunSet                        object
year                               int32
month                              int32
day                                int32
dtype: object

In [22]:
df1['TimeSunRise'] = pd.to_datetime(
    df1['TimeSunRise'],
    format='%H:%M:%S',
    errors='coerce'
).dt.time

df1['TimeSunSet'] = pd.to_datetime(
    df1['TimeSunSet'],
    format='%H:%M:%S',
    errors='coerce'
).dt.time

In [23]:
# Combine date + time
df1['sunrise_dt'] = pd.to_datetime(
    df1['date'].dt.strftime('%Y-%m-%d') + ' ' + df1['TimeSunRise'].astype(str),
    errors='coerce'
)

df1['sunset_dt'] = pd.to_datetime(
    df1['date'].dt.strftime('%Y-%m-%d') + ' ' + df1['TimeSunSet'].astype(str),
    errors='coerce'
)

# Compute daylight duration
df1['daylight_minutes'] = (
    df1['sunset_dt'] - df1['sunrise_dt']
).dt.total_seconds() / 60

In [24]:
mask = df1['sunset_dt'] < df1['sunrise_dt']
df1.loc[mask, 'sunset_dt'] += pd.Timedelta(days=1)

In [25]:
df_model = df1.drop(
    columns=[
        'UNIXTime', 'time',
        'TimeSunRise', 'TimeSunSet',
        'sunrise_dt', 'sunset_dt',
        'year', 'day'
    ]
)

Create STRONG time features (important!)

Solar radiation is cyclical.

In [26]:
df_model['hour'] = df1['date'].dt.hour

import numpy as np
df_model['hour_sin'] = np.sin(2 * np.pi * df_model['hour'] / 24)
df_model['hour_cos'] = np.cos(2 * np.pi * df_model['hour'] / 24)

df_model.drop(columns=['hour'], inplace=True)

Remove night-time samples (huge boost)

In [27]:
df_model = df_model[df_model['Radiation'] > 0]

In [28]:
df_model = df_model.dropna()

In [29]:
df1.columns

Index(['UNIXTime', 'date', 'time', 'Radiation', 'Temperature', 'Pressure',
       'Humidity', 'WindDirection(Degrees)', 'Speed', 'TimeSunRise',
       'TimeSunSet', 'year', 'month', 'day', 'sunrise_dt', 'sunset_dt',
       'daylight_minutes'],
      dtype='object')

In [30]:
df_model.columns

Index(['date', 'Radiation', 'Temperature', 'Pressure', 'Humidity',
       'WindDirection(Degrees)', 'Speed', 'month', 'daylight_minutes',
       'hour_sin', 'hour_cos'],
      dtype='object')

In [31]:
df_model.drop(columns=['date'],inplace=True)

In [32]:
df_model.to_csv("scaled.csv")